<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <!-- <div class="col-sm-2">
        <div class="fullbox" >
          <h6> Data simulation </h6>
          {{wsdata}}
        </div>

      </div> -->
      <div class="col-sm-12">
        <div class="fullbox" >

          <div class="custom-popup" id="map" style="z-index: 1;">
          </div>

          <div id="overlay" class="row">

            <div class="card" style="width: 18rem;">
              <div class="card-header">
                MRTA LINE NETWORK
              </div>
              <form #dataForm="ngForm">
                <div class="input-group mb-1" *ngFor="let route of routes">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox" name="{{ route.route_id }}" ngModel (change)=loadRoute(dataForm)>
                    </div>
                  </div>
                   <input type="text" class="form-control"  placeholder="{{route.route_short_name}}" readonly>
                </div>
              </form>
            </div>

              <div class="card" style="width: 18rem;">
                <div class="card-header">
                  ขบวนรถที่ให้บริการ
                </div>
                  <ul class="list-group list-group-flush">
                    <li *ngFor="let item of activeRoutes; let i = index">
                      Trip Id {{item.trip_id}} Start {{item.start_time}}  End {{ item.end_time}}
                    </li>
                  </ul>
              </div>

          </div>
        </div>

      </div>
    </div>
  </section>
</div>
