#map {
  height: 1100px;
  width: 100%;
}

#overlay {
  position: absolute;
  top: 10px;
  left: 80px;
  width: 350px;
  z-index: 100;
  padding: 0px;
  margin: 0px;
}

#overlay > div {
  background-color: #FAFAFA;
  border: 1px solid #717D7D;
  margin-bottom: 5px;
  padding: 10px 15px;
}

.content-wrapper > .content {
  padding: 0;
}

.fullbox {
  padding: 0;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  height: 90vh;
  overflow-y: scroll;
}

.card-header {
  padding: 0.5rem 0.25rem !important;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 0 solid rgba(0, 0, 0, 0.125);
}

.custom-popup .leaflet-popup-content p {
  margin: 2px 0;
}

.custom-popup .leaflet-popup-content-wrapper {
  background: #2c3e50;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 1px;
  text-align: left;
  border-radius: 2px !important;
}

.custom-popup .leaflet-popup-content-wrapper a {
  color: rgba(255,255,255,0.5);
}

.custom-popup .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

.custom-popup .leaflet-popup-tip {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #2c3e50;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0rem;
}

.navbar-toggler {
    padding: 0.2rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 1.3em;
}

.tab-pane > ul >li {
  list-style: none;
  background-image: url("../../../assets/dist/icons/Train.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
