<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <!-- <div class="col-sm-2">
        <div class="fullbox" >
          <h6> Data simulation </h6>
          {{wsdata}}
        </div>

      </div> -->
      <div class="col-sm-12">
        <div class="fullbox" >

          <div class="custom-popup" id="map" style="z-index: 1;">
          </div>


          <div id="overlay" class="row">
          <div #dataContainer></div>
          </div>



        </div>

      </div>
    </div>
  </section>
</div>
