<div class="content-wrapper">
  <nav class="navbar navbar-expand-lg primary-color">
    <!-- Collapse button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#basicExampleNav"
      aria-controls="basicExampleNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active mr-2">
          <h6 class="m-0 text-dark btn btn-outline-primary">
            <i class="fa fa-table mr-1 ml-1" aria-hidden="true"></i>
            <a href="/auth/config">File config mgmt</a>
          </h6>
        </li>
        <li class="nav-item mr-2">
          <h6 class="m-0 text-dark btn btn-outline-primary">
            <i class="fa fa-database mr-1 ml-1" aria-hidden="true"></i>
            <a href="/auth/mrtaline">GTFS DB config mgmt</a>
          </h6>
        </li>
        <li class="nav-item mr-2">
          <h6 class="m-0 text-dark btn btn-outline-primary">
            <i class="fa fa-camera mr-1 ml-1" aria-hidden="true"></i>
            <a href="/auth/cctv">CCTV mgmt</a>
          </h6>
        </li>
        <li class="nav-item mr-2">
          <h6 class="m-0 text-dark btn btn-outline-primary">
            <i class="fa fa-car mr-1 ml-1" aria-hidden="true"></i>
            <a href="/auth/parking">Parking mgmt</a>
          </h6>
        </li>
        <li class="nav-item mr-2">
          <h6 class="m-0 text-dark btn btn-outline-primary">
            <i class="fa fa-train mr-1 ml-1" aria-hidden="true"></i>
            <a href="/auth/routeformat">Route Format</a>
          </h6>
        </li>
        <li class="nav-item mr-2">
          <h6 class="m-0 text-dark btn btn-outline-primary">
            <i class="fa fa-car mr-1 ml-1" aria-hidden="true"></i>
            <a href="/auth/ratioparking">Ratio Parking</a>
          </h6>
        </li>
        <li class="nav-item mr-2">
          <h6 class="m-0 text-dark btn btn-outline-primary">
            <i class="fa fa-map-or-1 ml-1" aria-hidden="true"></i>
            <a href="/auth/kmltoroute">KML to Route</a>
          </h6>
        </li>
      </ul>
    </div>
    <!-- Collapsible content -->
  </nav>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <ul class="nav nav-tabs border-secondary" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#parkingform"
                role="tab"
                aria-controls="home"
                aria-selected="true"
              >
                <i class="fa fa-train mr-1" aria-hidden="true"></i>Kml to Route
                Form
              </a>
            </li>
          </ul>
          <div
            class="tab-content"
            id="myTabContent"
            style="
              padding: 10px;
              background-color: white;
              border-style: solid;
              border-width: 1px;
              height: 80vh;
              overflow-y: scroll;
            "
          >
            <div
              class="tab-pane fade show active"
              id="parkingform"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div id="cctvformdiv">
                <!-- <p>CCTV form</p>-->
                <p>Upload kml เพื่อแปลงเป็น Geojson</p>
                <form
                  [formGroup]="kmltorouteForm"
                  (ngSubmit)="submitKmltoRouteFormatData()"
                  novalidate
                >
                  <!-- <div class="form-group row">
                                        <label for="code" class="col-sm-3 col-form-label">Route</label>
                                        <div class="col-sm-7">
                                            <select class="custom-select" [ngModel]="route"
                                                (ngModelChange)="changeRoute($event)" formControlName="route">
                                                <option value="" disabled>กรุณาเลือกเส้นทาง</option>
                                                <option *ngFor="let route of routes" [ngValue]="route">{{route}}
                                                </option>
                                            </select>
                                        </div>
                                    </div> -->

                  <div class="form-group row">
                    <label for="route_th" class="col-sm-3 col-form-label"
                      >route name (ไทย)*</label
                    >
                    <div class="col-sm-8">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="route_th"
                        placeholder="route_th"
                        formControlName="route_th"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="route_en" class="col-sm-3 col-form-label"
                      >route name (อังกฤษ)*</label
                    >
                    <div class="col-sm-8">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="route_en"
                        placeholder="route_en"
                        formControlName="route_en"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label"
                      >color*</label
                    >
                    <div class="col-sm-7">
                      <input
                        type="color"
                        class="form-control form-control-sm"
                        id="color"
                        value="#ffffff"
                        formControlName="color"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="icon" class="col-sm-3 col-form-label"
                      >kml*</label
                    >
                    <div class="col-sm-7">
                      <input
                        type="file"
                        class="form-control form-control-sm"
                        id="station_icon"
                        name="station_icon"
                        (change)="onFileChange_kml($event)"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="route_id" class="col-sm-3 col-form-label"
                      >route id</label
                    >
                    <div class="col-sm-8">
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="route_id"
                        placeholder="route_id"
                        formControlName="route_id"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm">
                      เพิ่ม KML
                    </button>
                  </div>
                </form>
              </div>
              <!-- <p>รายชื่อสถานี</p>
                            <div id="stationonline" style="width: 350px; height: 370px;overflow-y: scroll;">
                                <ul>
                                    <li *ngFor="let item of stationonlines; let i = index">
                                      {{i + 1}} รหัส {{item.station}} {{item.name}}
                                    </li>
                                </ul>
                            </div> -->
            </div>
          </div>
        </div>
        <div class="col-9">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                id="uploadfiletab"
                class="nav-link active"
                data-toggle="tab"
                href="#routelist"
                role="tab"
                aria-controls="home"
                (click)="update()"
              >
                <i class="fa fa-map-o" aria-hidden="true"></i> Show on Map
              </a>
            </li>
            <!-- <li class="nav-item">
                                      <a class="nav-link" data-toggle="tab" href="#map1" role="tab" aria-controls="profile">Map Component</a>
                                    </li> -->
            <li class="nav-item">
              <a
                id="onmaptab"
                class="nav-link"
                data-toggle="tab"
                href="#onmap"
                role="tab"
                aria-controls="profile"
                (click)="refresh()"
              >
                <i class="fa fa-table" aria-hidden="true"></i> Route format List
              </a>
            </li>

            <li class="nav-item">
              <div class="well">
                <div class="m-1">
                  <!-- 
                                              <button type="button" class="btn btn-success" (click)="onAddRow()">
                                                <span class="glyphicon glyphicon-plus"></span> Add New Row
                                              </button>
                                              <button type="button" class="btn btn-info" (click)="updateItems()">
                                                <span class="glyphicon glyphicon-pencil"></span> Update Data
                                              </button> 
                                            -->
                  <button
                    type="button"
                    class="btn btn-outline-danger btn-sm"
                    (click)="deleteKmltoRouteFormat()"
                  >
                    <i class="fa fa-trash" aria-hidden="true"></i> Delete
                  </button>
                </div>
              </div>
            </li>
          </ul>

          <div
            class="tab-content"
            style="
              padding: 0px;
              background-color: white;
              border-style: solid;
              border-width: 1px;
              height: 80vh;
              overflow-y: scroll;
            "
          >
            <div #mapdiv class="tab-pane active" id="routelist" role="tabpanel">
              <div
                #map
                id="map"
                [style.height]="height"
                style="width: 100%;"
              ></div>
            </div>
            <div class="tab-pane" id="onmap" role="tabpanel">
              <ag-grid-angular
                style="width: 100%; height: 600px;"
                class="ag-theme-balham"
                (gridReady)="onGridReady($event)"
                [columnDefs]="columnDefs"
                [rowData]="rowData"
                rowSelection="single"
                pagination="true"
                paginationPageSize="25"
                (selectionChanged)="onSelectionChanged($event)"
                (cellEditingStopped)="onCellEditingStopped($event)"
                (dataChanged)="onrowValueChanged($event)"
              >
              </ag-grid-angular>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
