label {
  display: inline-block;
  margin: 4px;
}

.list-group-item:first-child {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border: 1px solid #BDC3C7;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0rem;
}


label:hover{
  cursor: pointer;
 }

 .list-group-item {
  position: relative;
  display: block;
  padding: 0.1rem 0.5rem;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.nav-link {
  display: block;
  padding: .5rem 1rem;
}


.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0.2rem;
  list-style: none;
}


input[type=file] { width: 270px; border: 1px solid #ccc; }

.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 0.5rem;
    margin-bottom: -5px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.table th, .table td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table .thead-dark th {
    color: #ffffff;
    background-color: #007bff !important;
    border-color: #32383e;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6 !important;
}

// input[type="file"] {
//     width: 200px !important;
//     border: 1px solid #ccc;
// }


p {
    margin-top: 0;
    margin-bottom: 0.1rem;
}

.content-wrapper > .content {
    padding: 10px 10px;
    background-color: #efefef;
}

.content-header {
    padding: 10px 10px;
    background-color: #e9ecfe;
}

.table .thead-dark th {
    color: #ffffff;
    background-color: #1b275c;
    border-color: #32383e;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.2rem 0.2rem;
    font-size: 0.75rem;
    line-height: 1.2;
    border-radius: 0.2rem;
}

// disable by default


#agencys_info {
    display: none;
    border-style: solid;
    border-width: 1px;
}

#routes_info {
    display: none;
    border-style: solid;
    border-width: 1px;
}

#trips_info {
    display: none;
    border-style: solid;
    border-width: 1px;
}

#stops_info {
    display: none;
    border-style: solid;
    border-width: 1px;
}

#stop_times_info {
    display: none;
    border-style: solid;
    border-width: 1px;
}

#calendars_info {
    display: none;
    border-style: solid;
    border-width: 1px;
}

#calendar_dates_info {
    display: none;
    border-style: solid;
    border-width: 1px;
}

#fare_attributes_info {
    display: none;
    border-style: solid;
    border-width: 1px;
}

#fare_rules_info {
    display: none;
    border-style: solid;
    border-width: 1px;
}

#shapes_info {
    display: none;
    border-style: solid;
    border-width: 1px;
}

#pathways_info {
    display: none;
    border-style: solid;
    border-width: 1px;
}

#frequencies_info {
    display: none;
    border-style: solid;
    border-width: 1px;
}

#transforms_info {
    display: none;
    border-style: solid;
    border-width: 1px;
}

#levels_info {
    display: none;
    border-style: solid;
    border-width: 1px;
}
//
// #listview {
//     display: none;
// }

// form adjust
.form-group {
    margin-bottom: 0.2rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.1rem;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bg-light {
    background-color: #d6e6f7 !important;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
}


.invalid-feedback {
    
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
}


.content-header {
    padding: 5px 5px;
    background-color: blanchedalmond;
}