#map {
    height: 1100px;
    width: 100%;
}

.content-wrapper > .content {
    padding: 0 0rem;
}

.fullbox {
    padding: 5px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    height: 90vh;
    overflow-y: scroll;
}
