@import "~ag-grid-community/dist/styles/ag-grid.css";
@import 'ag-grid-community/dist/styles/ag-theme-blue.css';
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ngx-smart-modal/ngx-smart-modal";

@font-face {
    font-family: 'SukhumvitSet-Bold';
    src: url('assets/dist/fonts/sukhumvitset-bold-webfont.woff2') format('woff2'),
         url('assets/dist/fonts/sukhumvitset-bold-webfont.woff') format('woff'),
         url('assets/dist/fonts/sukhumvitset-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }


body {
  font-family: 'Roboto Condensed', 'Prompt','SukhumvitSet-Bold';
  font-size: 14px;
  padding-right: 0 !important ;
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

html, body,  {
    min-height: 100% !important;
    height: 100%;
}

.container {
    height:100%;
}

.bg {
    /* The image used */
    background-image: url("/assets/dist/img/mrta_background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

p {
  font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
    position: relative;

  }
.brand-image {
    float: left;
    line-height: .8;
    max-height: 34px;
    width: auto;
    margin-left: .1rem;
    margin-right: .5rem;
    margin-top: -3px;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff;
}

.nav-pills .nav-link {
    border-radius: .25rem;
}

.nav-link {
    display: block;
    padding: .5rem 1rem 0.5rem 0.1rem;
}

.nav-sidebar .nav-link p {
    display: inline-block;
    margin: 0;
}

.sidebar {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow-y: auto;
    height: calc(100% - 4rem);
    background-color: #007bff33;
}

.adjust {
    margin-left: 0.2rem !important;
}

.control-sidebar, .control-sidebar::before {
    width: 300px;
    right: -300px;
    bottom: 0;
    transition: right 0.3s ease-in-out;
}

.control-sidebar {
    position: absolute;
    top: 5rem;
    z-index: 830;
    padding: 0.5rem;
}

.control-sidebar-dark, .control-sidebar-dark::before {
    background: #386ca160;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    color: #000;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #dd4b39 !important;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #f39c12 !important;
}


@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}

label {
    display: inline-block;
    margin: 5px !important;
}

#box {
    max-width: 200em;
    height: 70em;
    padding: 1em;
    margin: auto;
    border: 0.062em solid #999;
    background-color: #fff;
    overflow: auto;
    direction: rtl;
    text-align: left;
}

pre{
    counter-reset: line;
}
code{
    counter-increment: line;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #fff;
    color: #000;
    width: 400px;
    height: 350px;
}

.leaflet-popup-content-wrapper {
    padding: 2px;
    text-align: left;
    border-radius: 1px;
}

.p-3 {
    padding: 0.5rem !important;
}

.pt-3, .py-3 {
    padding-top: 0.5rem !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.1rem 1.25rem;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}


.fill {
    min-height: 100%;
    height: 100%;
}

.content-wrapper > .content {
    padding: 10px 10px !important;
}

.card {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.sidebar {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow-y: auto;
    height: calc(100% - 4rem);
    background-color: #d7d7d733 !important;
}

.bg-primary {
    background-color: #f6f6f6 !important;
}

.control-sidebar-dark, .control-sidebar-dark::before {
    background: #01091133;
}
