label {
    display: inline-block;
    margin: 1px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

#map {
    height: 775px;
}

.content-header {
    padding: 5px 5px;
    background-color: blanchedalmond;
}

.nav-tabs > li > a {
    border-radius: 0;
}